.u-section-1 {
  background-color: #82338e;
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 935px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 158px 0 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 588px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 21px;
}

.u-section-1 .u-text-1 {
  font-size: 7.8125rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: "Autour One";
  font-weight: 700;
  letter-spacing: normal;
  margin: 75px 9px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "Autour One";
  margin: 19px 9px 0;
}

.u-section-1 .u-list-1 {
  width: 335px;
  margin: 15px auto 0 9px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 132px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  color: rgb(255, 255, 255) !important;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 0 auto;
  padding: 17px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  color: rgb(255, 255, 255) !important;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 0 auto;
  padding: 17px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  color: rgb(255, 255, 255) !important;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 0 auto;
  padding: 13px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-icon-4 {
  width: 64px;
  height: 64px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 0 auto;
  padding: 13px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 588px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 24px;
}

.u-section-1 .u-image-1 {
  height: 513px;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 485px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6.25rem;
    width: auto;
    line-height: 1.12;
    letter-spacing: 3px;
    margin-top: 18px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 7px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 536px;
  }

  .u-section-1 .u-image-1 {
    height: 415px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 118px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 375px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 0;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-list-1 {
    width: 302px;
    margin-left: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 91px;
  }

  .u-section-1 .u-icon-3 {
    padding: 17px;
  }

  .u-section-1 .u-icon-4 {
    padding: 17px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 375px;
  }

  .u-section-1 .u-image-1 {
    height: 307px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1465px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 117px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 462px;
  }

  .u-section-1 .u-text-1 {
    font-size: 7.1875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 1px;
  }

  .u-section-1 .u-list-1 {
    width: 511px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 110px;
  }

  .u-section-1 .u-icon-1 {
    width: 82px;
    height: 82px;
    margin-right: 0;
    margin-left: 18px;
    padding: 21px;
  }

  .u-section-1 .u-icon-2 {
    width: 82px;
    height: 82px;
    margin-right: 0;
    margin-left: 18px;
    padding: 21px;
  }

  .u-section-1 .u-icon-3 {
    width: 82px;
    height: 82px;
    margin-right: 0;
    margin-left: 18px;
    padding: 21px;
  }

  .u-section-1 .u-icon-4 {
    width: 82px;
    height: 82px;
    margin-right: 0;
    margin-left: 18px;
    padding: 21px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 571px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 511px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1097px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 112px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 438px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-list-1 {
    width: 320px;
    margin-top: 14px;
    margin-left: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 90px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-icon-1 {
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-icon-2 {
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-icon-3 {
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-icon-4 {
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 360px;
  }

  .u-section-1 .u-image-1 {
    height: 314px;
    margin-right: initial;
    margin-left: initial;
  }
}

.u-section-1 .u-icon-1,
.u-section-1 .u-icon-1:before,
.u-section-1 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style,
    border-width, border-top-width, border-left-width, border-right-width,
    border-bottom-width, custom-border, borders, box-shadow, text-shadow,
    opacity, border-radius, stroke, border-color, font-size, font-style,
    font-weight, text-decoration, letter-spacing, transform, background-image,
    image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.1) !important;
}

.u-section-1 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.1) !important;
}

.u-section-1 .u-icon-2,
.u-section-1 .u-icon-2:before,
.u-section-1 .u-icon-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style,
    border-width, border-top-width, border-left-width, border-right-width,
    border-bottom-width, custom-border, borders, box-shadow, text-shadow,
    opacity, border-radius, stroke, border-color, font-size, font-style,
    font-weight, text-decoration, letter-spacing, transform, background-image,
    image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-2.u-icon-2.u-icon-2:hover {
  transform: scale(1.1) !important;
}

.u-section-1 .u-icon-2.u-icon-2.u-icon-2.hover {
  transform: scale(1.1) !important;
}

.u-section-1 .u-icon-3,
.u-section-1 .u-icon-3:before,
.u-section-1 .u-icon-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style,
    border-width, border-top-width, border-left-width, border-right-width,
    border-bottom-width, custom-border, borders, box-shadow, text-shadow,
    opacity, border-radius, stroke, border-color, font-size, font-style,
    font-weight, text-decoration, letter-spacing, transform, background-image,
    image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-3.u-icon-3.u-icon-3:hover {
  transform: scale(1.1) !important;
}

.u-section-1 .u-icon-3.u-icon-3.u-icon-3.hover {
  transform: scale(1.1) !important;
}

.u-section-1 .u-icon-4,
.u-section-1 .u-icon-4:before,
.u-section-1 .u-icon-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style,
    border-width, border-top-width, border-left-width, border-right-width,
    border-bottom-width, custom-border, borders, box-shadow, text-shadow,
    opacity, border-radius, stroke, border-color, font-size, font-style,
    font-weight, text-decoration, letter-spacing, transform, background-image,
    image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-4.u-icon-4.u-icon-4:hover {
  transform: scale(1.1) !important;
}

.u-section-1 .u-icon-4.u-icon-4.u-icon-4.hover {
  transform: scale(1.1) !important;
}
.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1454px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 615px;
}

.u-section-2 .u-container-layout-1 {
  padding: 21px 30px;
}

.u-section-2 .u-image-1 {
  width: 569px;
  height: 569px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 636px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-family: "Autour One";
  font-size: 3.75rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-family: "Autour One";
  margin: 20px 79px 0;
}

.u-section-2 .u-btn-1 {
  --radius: 50px;
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "Autour One";
  margin: 0 auto 53px;
  padding: 24px 73px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1346px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 507px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 524px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1227px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 459px;
  }

  .u-section-2 .u-image-1 {
    width: 416px;
    height: 416px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1130px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 344px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1651px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 217px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 320px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.875rem;
    margin-bottom: 60px;
    padding-right: 72px;
    padding-left: 70px;
  }
}
.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 736px;
}

.u-section-3 .u-group-1 {
  min-height: 251px;
  height: auto;
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-family: "Autour One";
  font-size: 4.5rem;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-family: "Autour One";
  font-size: 1.5rem;
  margin: 13px 0 0;
}

.u-section-3 .u-text-3 {
  font-family: "Autour One";
  font-size: 1.5rem;
  font-weight: 700;
  margin: 7px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 0 29px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 436px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-group-2 {
  --radius: 50px;
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
  min-height: 362px;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 23px;
}

.u-section-3 .u-text-4 {
  font-family: "Autour One";
  font-size: 2.25rem;
  margin: 0 7px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 421px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-3 .u-image-1 {
  width: 391px;
  height: 391px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-3 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 360px;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 347px;
  }

  .u-section-3 .u-image-1 {
    inset: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-3 .u-container-layout-4 {
    padding: 28px 0;
  }

  .u-section-3 .u-image-1 {
    width: 252px;
    height: 379px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1235px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -66px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 548px;
  }

  .u-section-3 .u-image-1 {
    width: 366px;
    height: 492px;
    margin-left: 79px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1062px;
  }

  .u-section-3 .u-group-1 {
    min-height: 198px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 30px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 327px;
  }

  .u-section-3 .u-group-2 {
    min-height: 253px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 345px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 457px;
    margin-left: 0;
  }
}
.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 686px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-family: "Autour One";
  font-size: 4.5rem;
  margin: 60px 0 0;
}

.u-section-4 .u-accordion-1 {
  margin: 31px 0 60px;
}

.u-section-4 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  color: rgb(153, 153, 153) !important;
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 175px;
  height: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-4 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  color: rgb(153, 153, 153) !important;
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 175px;
  height: auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 13px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 0 0 16px;
}

.u-section-4 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  color: rgb(153, 153, 153) !important;
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-4 .u-accordion-pane-3 {
  min-height: 175px;
  height: auto;
}

.u-section-4 .u-container-layout-3 {
  padding: 11px 30px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-accordion-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-4 .u-accordion-link-3 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-4 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
}
.u-section-5 {
  background-image: linear-gradient(
      0deg,
      rgba(82, 82, 82, 0.85),
      rgba(82, 82, 82, 0.85)
    ),
    url("images/Bos-Nederland-Epe-1024x410.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 717px;
}

.u-section-5 .u-icon-1 {
  width: 66px;
  height: 66px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px 537px 0;
  padding: 0;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  margin: 30px 64px 0;
}

.u-section-5 .u-text-2 {
  width: 751px;
  margin: 20px 195px 0;
}

.u-section-5 .u-image-1 {
  width: 103px;
  height: 103px;
  background-image: url("images/Chippe-12-540x500.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px 519px 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 443px;
    margin-right: 443px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: 13px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 94px;
    margin-left: 95px;
  }

  .u-section-5 .u-image-1 {
    margin-bottom: 30px;
    margin-left: 419px;
    margin-right: 419px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 339px;
    margin-right: 339px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    margin-left: 309px;
    margin-right: 309px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-icon-1 {
    margin-left: 254px;
    margin-right: 254px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-image-1 {
    margin-left: 219px;
    margin-right: 219px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-icon-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    font-size: 0.625rem;
  }

  .u-section-5 .u-image-1 {
    margin-right: 118px;
    margin-bottom: 60px;
    margin-left: 119px;
  }
}
